<frame>
	<quad pos="0 0" z-index="-2" size="320 180" bgcolor="FFFA" halign="center" valign="center" style="Bgs1" substyle="BgEmpty" id="QUAD_BACKGROUND"/>
	<frame id="FRAME_MENU">
		<frame z-index="-1" pos="-110">
			<quad z-index="0" size="80 160" valign="center" halign="center" style="Bgs1" substyle="BgCardList"/>
			<quad z-index="1" size="80 160" valign="center" halign="center" style="Bgs1" substyle="BgGradV"/>
		</frame>
		<frame pos="-145 75" clip="True" clipposn="36 -6" clipsizen="70 17" id="FRAME_LABEL_MAPNAME">
			<label z-index="0" size="70 15" text="[unknown]" textsize="16" textfont="Oswald" valign="top" id="LABEL_MAPNAME" textemboss="1"/>
			<label z-index="0" size="70 15" text="[unknown]" textsize="16" textfont="Oswald" valign="top" id="LABEL_MAPNAME_2" textemboss="1"/>
		</frame>
		<frame pos="-145 59" clip="True" clipposn="36 -2.5" clipsizen="70 10" id="FRAME_LABEL_CHALLENGE">
			<label z-index="0" size="70 7" text="[unknown]" textsize="6" textfont="Oswald" valign="top" id="LABEL_CHALLENGE" textemboss="1"/>
			<label z-index="0" size="70 7" text="[unknown]" textsize="6" textfont="Oswald" valign="top" id="LABEL_CHALLENGE_2" textemboss="1"/>
		</frame>
		<frame pos="-75 50" clip="True" clipposn="-17 -2.5" clipsizen="35 10" id="FRAME_LABEL_CAR">
			<label z-index="0" size="35 7" text="[unknown]" textsize="4" textfont="Oswald" valign="top" id="LABEL_CAR" textprefix="$o" halign="right"/>
			<label z-index="0" size="35 7" text="[unknown]" textsize="4" textfont="Oswald" valign="top" id="LABEL_CAR_2" textprefix="$o" halign="right"/>
		</frame>
		<frame pos="-145 50">
			<label z-index="0" size="35 6" text="{{{{VALIDATED_BY}}}}:" textsize="0.5" textfont="Oswald" id="LABEL_VALIDATOR_TEXT" valign="top"/>
			<label z-index="0" size="35 4" text="[unknown]" textsize="1.5" textfont="Oswald" valign="top" id="LABEL_VALIDATOR" pos="0 -2.5"/>
		</frame>
		<frame pos="-110 42">
			<quad z-index="0" size="80 10" bgcolor="FFFA" style="Bgs1InRace" substyle="BgCardInventoryItem" scriptevents="1" modulatecolor="036" opacity=".5" id="QUAD_BUTTON_EXIT" pos="0 0" halign="center"/>
			<label pos="-35 -5.25" z-index="1" size="70 10" text=" {{{{EXIT}}}}" valign="center2" textfont="RajdhaniMono" id="LABEL_BUTTON_EXIT" textcolor="EEE"/>
			<quad z-index="0" size="80 9.5" bgcolor="FFFA" style="Bgs1InRace" substyle="BgGradV" halign="center" pos="0 -0.25"/>
		</frame>
		<frame pos="-110 32">
			<quad z-index="0" size="80 10" bgcolor="FFFA" style="Bgs1InRace" substyle="BgCardInventoryItem" scriptevents="1" modulatecolor="036" opacity=".5" id="QUAD_BUTTON_CONTINUE" pos="0 0" halign="center"/>
			<label pos="-35 -5.25" z-index="1" size="70 10" text=" {{{{CONTINUE}}}}" valign="center2" textfont="RajdhaniMono" id="LABEL_BUTTON_CONTINUE" textcolor="EEE"/>
			<quad z-index="0" size="80 9.5" bgcolor="FFFA" style="Bgs1InRace" substyle="BgGradV" halign="center" pos="0 -0.25"/>
		</frame>
		<frame pos="-110 20" z-index="1">
			<quad size="80 80" halign="center" style="Bgs1" substyle="BgGradV" z-index="-1"/>
			<label pos="-36 -3" z-index="0" size="40 5" text="[unknown]" textsize="4" textfont="Oswald" id="LABEL_PB_NICKNAME"/>
			<label pos="35 -3.2" z-index="0" size="27.5 5" text="-:--.---" textsize="4.3" textfont="RajdhaniMono" halign="right" id="LABEL_PB_TIME"/>
			<quad pos="38 -4" z-index="1" size="5 5" style="MedalsBig" substyle="MedalNadeo" halign="center" valign="center" hidden="1"/>
			<frame pos="0 -16.5">
				<frame clip="True" clipsizen="55 6">
					<label size="200 5" text="{{{{LOCAL}}}}" halign="center" valign="center2" style="TextButtonBig" textsize="2.5" translate="1" id="LABEL_GHOSTSECTION"/>
				</frame>
				<quad pos="-32.5 0" z-index="0" size="8 8" halign="center" valign="center" style="UIConstruction_Buttons" substyle="Quit" scriptevents="1" id="QUAD_GHOSTSECTION_PREVIOUS"/>
				<quad pos="32.5 0" z-index="0" size="8 8" halign="center" valign="center" style="UIConstruction_Buttons" substyle="Quit" scriptevents="1" rot="180" id="QUAD_GHOSTSECTION_NEXT"/>
				<quad pos="0 5" z-index="-1" size="78 68.5" halign="center" style="Bgs1" substyle="BgCardList" scriptevents="1" opacity=".5"/>
				<quad pos="0 -30" z-index="0" size="15 15" halign="center" valign="center" style="BgRaceScore2" substyle="SandTimer" id="QUAD_LOADING" hidden="1"/>
				<frame pos="35.5 -5">
					<quad z-index="0" size="2 56" style="Bgs1" substyle="BgCardList" opacity=".5" scriptevents="1" id="QUAD_SCROLLBAR_BACKGROUND"/>
					<quad z-index="1" size="1 20" style="Bgs1" substyle="BgWindow4" opacity="1" halign="center" pos="1 0" scriptevents="1" id="QUAD_SCROLLBAR" hidden="1"/>
				</frame>
				<frame pos="0 -9" id="FRAME_OUTER_GHOSTS" clip="True" clipsizen="78 56" clipposn="0 -24">
					<frame id="FRAME_GHOSTS">
						<frame hidden="1">
							<quad pos="-1 0" z-index="-2" size="73 8" halign="center" valign="center" style="Bgs1" substyle="BgCardList" opacity=".5"/>
							<quad pos="-1 0" z-index="-1" size="73 8" halign="center" valign="center" style="Bgs1" substyle="BgCardInventoryItem" opacity=".5" colorize="036" scriptevents="1" id="QUAD_GHOST"/>
							<label size="47.5 5" text="$o$i$nTESTBOI" valign="center2" pos="-35 -0.3" textfont="Oswald" id="LABEL_NICKNAME"/>
							<label pos="33 -0.2" z-index="0" size="17.5 5" text="0:00.000" textsize="3" textfont="OswaldMono" halign="right" id="LABEL_TIME" valign="center2"/>
							<label pos="34 -3" z-index="1" size="17.5 5" text="$ff0AUTOSAVE" textsize="1" textfont="OswaldMono" halign="right" id="LABEL_AUTOSAVE" valign="bottom" textemboss="1" hidden="1"/>
							<quad pos="31 0" z-index="0" size="8 8" style="UIConstruction_Buttons" substyle="SaveAs" scriptevents="1" halign="center" valign="center" id="QUAD_SAVEGHOST" hidden="1"/>
						</frame>
						<frame pos="0 -8" hidden="1">
							<quad pos="-1 0" z-index="-2" size="73 8" halign="center" valign="center" style="Bgs1" substyle="BgCardList" opacity=".5"/>
							<quad pos="-1 0" z-index="-1" size="73 8" halign="center" valign="center" style="Bgs1" substyle="BgCardInventoryItem" opacity=".5" colorize="036" scriptevents="1" id="QUAD_GHOST"/>
							<label size="47.5 5" text="$o$i$nTESTBOI" valign="center2" pos="-35 -0.3" textfont="Oswald" id="LABEL_NICKNAME"/>
							<label pos="33 -0.2" z-index="0" size="17.5 5" text="0:00.000" textsize="3" textfont="OswaldMono" halign="right" id="LABEL_TIME" valign="center2"/>
							<label pos="34 -3" z-index="1" size="17.5 5" text="$ff0AUTOSAVE" textsize="1" textfont="OswaldMono" halign="right" id="LABEL_AUTOSAVE" valign="bottom" textemboss="1" hidden="1"/>
							<quad pos="31 0" z-index="0" size="8 8" style="UIConstruction_Buttons" substyle="SaveAs" scriptevents="1" halign="center" valign="center" id="QUAD_SAVEGHOST" hidden="1"/>
						</frame>
						<frame pos="0 -16" hidden="1">
							<quad pos="-1 0" z-index="-2" size="73 8" halign="center" valign="center" style="Bgs1" substyle="BgCardList" opacity=".5"/>
							<quad pos="-1 0" z-index="-1" size="73 8" halign="center" valign="center" style="Bgs1" substyle="BgCardInventoryItem" opacity=".5" colorize="036" scriptevents="1" id="QUAD_GHOST"/>
							<label size="47.5 5" text="$o$i$nTESTBOI" valign="center2" pos="-35 -0.3" textfont="Oswald" id="LABEL_NICKNAME"/>
							<label pos="33 -0.2" z-index="0" size="17.5 5" text="0:00.000" textsize="3" textfont="OswaldMono" halign="right" id="LABEL_TIME" valign="center2"/>
							<label pos="34 -3" z-index="1" size="17.5 5" text="$ff0AUTOSAVE" textsize="1" textfont="OswaldMono" halign="right" id="LABEL_AUTOSAVE" valign="bottom" textemboss="1" hidden="1"/>
							<quad pos="31 0" z-index="0" size="8 8" style="UIConstruction_Buttons" substyle="SaveAs" scriptevents="1" halign="center" valign="center" id="QUAD_SAVEGHOST" hidden="1"/>
						</frame>
						<frame pos="0 -24" hidden="1">
							<quad pos="-1 0" z-index="-2" size="73 8" halign="center" valign="center" style="Bgs1" substyle="BgCardList" opacity=".5"/>
							<quad pos="-1 0" z-index="-1" size="73 8" halign="center" valign="center" style="Bgs1" substyle="BgCardInventoryItem" opacity=".5" colorize="036" scriptevents="1" id="QUAD_GHOST"/>
							<label size="47.5 5" text="$o$i$nTESTBOI" valign="center2" pos="-35 -0.3" textfont="Oswald" id="LABEL_NICKNAME"/>
							<label pos="33 -0.2" z-index="0" size="17.5 5" text="0:00.000" textsize="3" textfont="OswaldMono" halign="right" id="LABEL_TIME" valign="center2"/>
							<label pos="34 -3" z-index="1" size="17.5 5" text="$ff0AUTOSAVE" textsize="1" textfont="OswaldMono" halign="right" id="LABEL_AUTOSAVE" valign="bottom" textemboss="1" hidden="1"/>
							<quad pos="31 0" z-index="0" size="8 8" style="UIConstruction_Buttons" substyle="SaveAs" scriptevents="1" halign="center" valign="center" id="QUAD_SAVEGHOST" hidden="1"/>
						</frame>
						<frame pos="0 -32" hidden="1">
							<quad pos="-1 0" z-index="-2" size="73 8" halign="center" valign="center" style="Bgs1" substyle="BgCardList" opacity=".5"/>
							<quad pos="-1 0" z-index="-1" size="73 8" halign="center" valign="center" style="Bgs1" substyle="BgCardInventoryItem" opacity=".5" colorize="036" scriptevents="1" id="QUAD_GHOST"/>
							<label size="47.5 5" text="$o$i$nTESTBOI" valign="center2" pos="-35 -0.3" textfont="Oswald" id="LABEL_NICKNAME"/>
							<label pos="33 -0.2" z-index="0" size="17.5 5" text="0:00.000" textsize="3" textfont="OswaldMono" halign="right" id="LABEL_TIME" valign="center2"/>
							<label pos="34 -3" z-index="1" size="17.5 5" text="$ff0AUTOSAVE" textsize="1" textfont="OswaldMono" halign="right" id="LABEL_AUTOSAVE" valign="bottom" textemboss="1" hidden="1"/>
							<quad pos="31 0" z-index="0" size="8 8" style="UIConstruction_Buttons" substyle="SaveAs" scriptevents="1" halign="center" valign="center" id="QUAD_SAVEGHOST" hidden="1"/>
						</frame>
						<frame pos="0 -40" hidden="1">
							<quad pos="-1 0" z-index="-2" size="73 8" halign="center" valign="center" style="Bgs1" substyle="BgCardList" opacity=".5"/>
							<quad pos="-1 0" z-index="-1" size="73 8" halign="center" valign="center" style="Bgs1" substyle="BgCardInventoryItem" opacity=".5" colorize="036" scriptevents="1" id="QUAD_GHOST"/>
							<label size="47.5 5" text="$o$i$nTESTBOI" valign="center2" pos="-35 -0.3" textfont="Oswald" id="LABEL_NICKNAME"/>
							<label pos="33 -0.2" z-index="0" size="17.5 5" text="0:00.000" textsize="3" textfont="OswaldMono" halign="right" id="LABEL_TIME" valign="center2"/>
							<label pos="34 -3" z-index="1" size="17.5 5" text="$ff0AUTOSAVE" textsize="1" textfont="OswaldMono" halign="right" id="LABEL_AUTOSAVE" valign="bottom" textemboss="1" hidden="1"/>
							<quad pos="31 0" z-index="0" size="8 8" style="UIConstruction_Buttons" substyle="SaveAs" scriptevents="1" halign="center" valign="center" id="QUAD_SAVEGHOST" hidden="1"/>
						</frame>
						<frame pos="0 -48" hidden="1">
							<quad pos="-1 0" z-index="-2" size="73 8" halign="center" valign="center" style="Bgs1" substyle="BgCardList" opacity=".5"/>
							<quad pos="-1 0" z-index="-1" size="73 8" halign="center" valign="center" style="Bgs1" substyle="BgCardInventoryItem" opacity=".5" colorize="036" scriptevents="1" id="QUAD_GHOST"/>
							<label size="47.5 5" text="$o$i$nTESTBOI" valign="center2" pos="-35 -0.3" textfont="Oswald" id="LABEL_NICKNAME"/>
							<label pos="33 -0.2" z-index="0" size="17.5 5" text="0:00.000" textsize="3" textfont="OswaldMono" halign="right" id="LABEL_TIME" valign="center2"/>
							<label pos="34 -3" z-index="1" size="17.5 5" text="$ff0AUTOSAVE" textsize="1" textfont="OswaldMono" halign="right" id="LABEL_AUTOSAVE" valign="bottom" textemboss="1" hidden="1"/>
							<quad pos="31 0" z-index="0" size="8 8" style="UIConstruction_Buttons" substyle="SaveAs" scriptevents="1" halign="center" valign="center" id="QUAD_SAVEGHOST" hidden="1"/>
						</frame>
					</frame>
				</frame>
			</frame>
		</frame>
		<frame pos="-110 -70" class="BUTTON">
			<quad z-index="0" size="72.5 15" halign="center" style="Bgs1InRace" substyle="BgCard" scriptevents="1" modulatecolor="060" id="QUAD_BUTTON_START" class="opacity" pos="0 0" valign="center"/>
			<label z-index="1" size="72.5 15" text="{{{{START}}}}" valign="center2" textfont="RajdhaniMono" halign="center" pos="0 -0.8" textsize="5"/>
		</frame>
		<frame pos="55 -65" hidden="1">
			<quad z-index="-1" size="30 30" halign="center" valign="center" image="file://Media/Images/CircleBlack.png" opacity=".5"/>
			<quad z-index="0" size="30 30" image="file://Media/Images/MoonBlack.png" halign="center" valign="center" opacity=".5"/>
			<quad z-index="0" size="60 60" halign="center" valign="center" style="Bgs1" substyle="Glow" hidden="1"/>
		</frame>
		<frame z-index="2" id="FRAME_TOOLTIP" hidden="1">
			<quad pos="0 0" z-index="-1" size="43.5 6" style="Bgs1" substyle="BgCardOnline" colorize="000" id="QUAD_TOOLTIP"/>
			<label pos="2 -3.1" z-index="0" size="43.5 6" text="https://discord.gg/v6TW88m" valign="center2" textsize="1.5" textfont="BiryaniDemiBold" id="LABEL_TEXT"/>
		</frame>
	</frame>
</frame>